<div class="container">
  <div class="mt-4 mb-4">
    <h1>Your booking is confirmed!</h1>
  </div>
  <div class="d-flex column-gap-5 mb-5">
    <div>
      <div class= "mb-1">
        <%= link_to "Home", cars_path %>
        |
        <%= link_to "My bookings", profile_users_path %>
      </div>
      <div>
        <%= cl_image_tag @booking.car.photo.key, height: 300, width: 400, crop: :fill %>
      </div>
    </div>
    <div class="mt-5">
      <p>You have booked: <%= @booking.car.year%> <%= @booking.car.make%> <%=@booking.car.model%></p>
      <% if @booking.start_date == @booking.end_date %>
        <p>On <%=@booking.start_date.strftime("%B %d, %Y")%></p>
      <% else %>
        <p>From <%=@booking.start_date.strftime("%B %d, %Y")%> to <%=@booking.end_date.strftime("%B %d, %Y")%></p>
      <% end %>
      <% days = (@booking.end_date - @booking.start_date).to_i + 1 %>
      <p> <%= (days).to_i %> day<% if (days).to_i > 1 %>s<% end %> at <%=number_to_currency(@booking.car.price, unit: "£")%> a day</p>
      <p>Total cost: <%=number_to_currency(@booking.car.price * (days).to_i, unit: "£")%></p>

      <div class="d-flex column-gap-3">
        <div data-controller="toggle">
          <button class="btn btn-outline-primary mb-3" data-toggle-target="button" data-action="click->toggle#fire">Edit booking</button>
          <div data-toggle-target="togglableElement" class="d-none mb-4">
            <%= simple_form_for(@booking) do |f| %>
              <%= f.input :start_date, label: "Dates", as: :string, input_html: { data: { controller: "datepicker" } } %>
              <%= f.submit %>
            <% end %>
          </div>
        </div>
        <div>
          <%= link_to "Cancel your booking", booking_path(@booking), data: {turbo_method: :delete, turbo_confirm: 'Are you sure you want to cancel your booking?'}, class: "btn btn-outline-primary mb-3" %>
        </div>
      </div>
    </div>
  </div>
</div>
