<div class="container_profile">
  <div class =>
    <h1>Welcome <%= current_user.email %></h1>
  </div>

    <div class="container_profile_cars">

      <div class="card_cars_offered">
        <h3>My cars available to rent</h3>
        <div class="d-flex p-2 justify-content-between align-items-center">
          <% current_user.cars.each do |car| %>
            <h5><%= car.model %></h5>
            <% if @user_owner == true %>
            <div>
              <%= link_to "✍️", edit_car_path(car), class: "text-decoration-none" %>
              <%= link_to "❌", car_path(car), class: "text-decoration-none", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this list?" } %>
            </div>
            <% end %>
          <% end %>
        </div>
      </div>

    <div class="card_cars_rented">
      <h3>Cars I've rented</h3>
      <div class="d-flex p-2 justify-content-between align-items-center">
        <% current_user.bookings.each do |booking| %>
        <%= link_to booking.car.model, booking_path(booking)%>
        <div>
          <%= link_to "✍️", edit_car_path(booking), class: "text-decoration-none" %>
          <%= link_to "❌", edit_booking_path(booking), class: "text-decoration-none", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this list?" } %>
        </div>
        <% end %>
    </div>
    </div>
</div>
</div>
