<div class="container_home">

  <div class="banner_home">
    <h1>Welcome to Motourist</h1>
    <p>Feel like a star in a classic car!</p>
  </div>

  <div class="container_cards">

    <% @cars.each do |car|%>
      <div class="card_car">
        <div class="card_image"><%= cl_image_tag car.photo.key, height: 300, width: 400, crop: :fill %></div>
        <div class="card_car_details">
          <div>
            <h2> <%=car.model.capitalize%> <%=car.make%> </h2>
          </div>
          <div>
            <h3><%=car.year%></h3>
          </div>
        </div>
        <%= link_to "View Details", car_path(car), { class: "btn btn-outline-primary" } %>
      </div>
    <% end %>

  </div>

</div>
