<!DOCTYPE html>
<html>
<head>
</head>
<body>

  <div class="container_home">
  <div class="banner_home">
    <h1>Welcome to Motourist</h1>
    <p>Feel like a star in a classic car!</p>
  </div>
  <div class="container_index">

    <div class="container_cards">

      <div class="search_index">
        <%= form_with url: cars_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search for a vintage car"
        %>
        <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
        <% end %>
      </div>

      <% @cars.each do |car|%>

        <%= link_to car_path(car) do %>
          <div class="card_car">
            <div class="card_image">
              <% if car.photo.attached? %>
                <% if car.photo.count > 1 %>
                  <div id="carouselExample" class="carousel slide">
                    <div class="carousel-inner">
                      <% car.photo.each do |photo_attachment| %>
                        <div class="carousel-item active">
                          <%= cl_image_tag photo_attachment.key, class: 'd-block w-100' %>
                        </div>
                      <% end %>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
                <% else %>
                  <%# Display the first attached image if only one or none is available %>
                  <%= cl_image_tag car.photo[0].key %>
                <% end %>
              <% else %>
                <%= image_tag "placeholder.png", height: 300, width: 400 %>
              <% end %>
            </div>

            <div class="card_car_details">
              <div class="card_car_info">
                <h1><%=car.year%></h1>
                <br />
                <h2> <%=car.make.titleize%> <%=car.model.titleize%> </h2>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="container_map">
      <div style="width: 100%; height: 100%;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>

  </div>

</div>
  <%= javascript_include_tag 'car_image_cycling' %>
  </body>
</html>
