<div class="container_home">

  <div class="banner_home">
    <h1>Welcome to Motourist</h1>
    <p>Rent a vintage motor!</p>
  </div>

  <div class="container_cards">

    <% @cars.each do |car|%>
      <div class="card_car">
        <div>Car_Image</div>
        <h2><%=car.year%> <%=car.model.capitalize%> <%=car.make%></h2>
        <p><%=car.description%></p>
        <%= link_to "View Details", car_path(car), { class: "btn btn-outline-primary" } %>
      </div>
    <% end %>

  </div>

</div>
