<!DOCTYPE html>
<html>
<head>
</head>
<body>

  <!-- Your page content -->







  <div class="container_home">
    <!-- Rest of your HTML content -->
    <div class="container_cards">
      <!-- Your card content with images -->
      <% @cars.each do |car|%>
        <div class="card_car">
        <div id="carouselExample<%= car.id %>" class="carousel slide">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <%= cl_image_tag car.photo.key, height: 300, width: 400, crop: :fill, data: { car_id: car.id } %>
            </div>
            <div class="carousel-item">
              <%= cl_image_tag car.photo.key, height: 300, width: 400, crop: :fill, data: { car_id: car.id } %>
            </div>
            <div class="carousel-item">
              <%= cl_image_tag car.photo.key, height: 300, width: 400, crop: :fill, data: { car_id: car.id } %>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample<%= car.id %>" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample<%= car.id %>" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
          <!-- Rest of your card details -->
          <%= link_to "View Details", car_path(car), { class: "btn btn-outline-primary" } %>
        </div>
      <% end %>
    </div>

  </div>

  <%= javascript_include_tag 'car_image_cycling' %>

</body>
</html>
