<div class="container_show">
  <div> <%= link_to "Back to all listings", cars_path, { class: "listings"} %> </div>
  <div class="card_car_show">

    <div class="container_card_car_show">

      <div class="card_show_image">
        <% if @car.photo.attached? %>
          <%= cl_image_tag @car.photo[0].key, height: 300, width: 400, crop: :fill %>
        <% else %>
          <%= image_tag "placeholder.png", height: 300, width: 400 %>
        <% end %>
      </div>

      <div class="card_show_details">
        <div class="car_card_header">
          <h1> <%=@car.year%> </h1>
          <h2> <%=@car.make.titleize%> <%=@car.model.titleize%> </h2>
        </div>
        <div class="card_car_description_header">
           <%=@car.description%>
        </div>
        <div class="car_show_details_row show_p">
            <div>
              <i class="fa-solid fa-user" style="color:#ca6b3c"></i> <%= @car.capacity %>
            </div>
            <div class="colour_location">
              <span style="color:#ca6b3c">Colour:</span>  <%=@car.colour.titleize%>
            </div>
            <div>
              <span style="color:#ca6b3c">Location:</span>  <%=@car.location.titleize%>
            </div>
            <div>
            <span style="color:#ca6b3c">Cost:</span> <span style="font-weight:bolder"><%=number_to_currency(@car.price, unit: "£")%></span> <span style="color:#ca6b3c">/ day</span>
            </div>
          </div>

      </div>

    </div>
  </div>

  <div class="container_show_map_book">
    <div class="container_show_map">
      <div style="width: 400px; height: 400px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
    <div class="container_show_book">
        <% if @car.user == current_user %>
          <h2>You own this vehicle</h2>
          <br />
          <br />
          <%= link_to "Edit this car listing", edit_car_path(@car), class: "btn btn-outline-primary" %>
          <%= link_to "Delete this car listing", car_path(@car), data: {turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete this car listing?'}, class: "btn btn-outline-primary" %>
        <% elsif @car.user != current_user && current_user %>
        <div class="container_show_book_detail">

          <div>
            <h2>Book now!</h2>
            <br />
            <br />
          </div>

        <div data-controller="cost-generator" data-cost-generator-cost-value="<%= @car.price%>">
          <%= simple_form_for([@car, @booking]) do |f| %>
           <%= f.input :start_date, label: "Dates", as: :string, input_html: { data: { controller: "datepicker", action: 'change->cost-generator#updateCost' } } %>
           <%= f.submit class: "btn btn-primary" %>
         <% end %>
          <div>
            <br />
            <br />
            <br />
            <br />
           <h3 style="text-align:right" data-cost-generator-target="costElement">Total cost: </h3>
          </div>
        </div>

    </div>

    <% elsif %>
      <div class="d-flex justify-content-evenly mt-5">
        <div>
          <h2>Please sign in to book</h2>
        </div>
      </div>
    <% end %>

    </div>
  </div>





</div>
