<div class="container my-5">

  <div class="d-flex justify-content-evenly">

    <div>
    <p>card image</p>
    </div>
    <div class="card_car_show">
      <h2><%=@car.year%> <%=@car.model.capitalize%> <%=@car.make%></h2>
      <p><%=@car.description%></p>
      <p>Capacity: <%= @car.capacity %> <i class="fa-solid fa-user"></i></p>
      <p>Colour: <%=@car.colour.capitalize%></p>
      <p>Location: <%=@car.location.capitalize%></p>
      <p>Cost per day: £<%=@car.price%></p>
    </div>

  </div>

  <% if @car.user == current_user %>
   <%= link_to "Edit this car", edit_car_path(@car) %>
  <% end %>

  <% if current_user %>
  <div class="d-flex justify-content-evenly mt-5">
    <div>
    <h2>Book now!</h2>
    </div>
    <div>
      <%= simple_form_for([@car, @booking]) do |f| %>
      <%= f.input :start_date, label: "Dates", as: :string, input_html: { data: { controller: "datepicker" } } %>
      <%= f.submit %>
    <%end%>
  </div>
  </div>
  <% else %>
    <div class="d-flex justify-content-evenly mt-5">
    <div>
    <h2>Please sign in to book</h2>
    </div>
    <div>
  <% end %>

  <%= link_to "Back", cars_path, { class: "d-flex justify-content-center my-5"} %>

</div>
